@page "/addStaffs"
@using Hospital_Management_System.Objects
@using Hospital_Management_System.Data
@inject NavigationManager NavManager

<div class="container mt-5">
    <h1>Add New Staff</h1>
    <form @onsubmit:preventDefault="true" @onsubmit="AddStaffToDatabase" autocomplete="nope">

        <!-- First Name and Last Name -->
        <div class="row mb-3">
            <div class="col-md-6">
                <label for="firstName">First Name:</label>
                <input class="validate-input" @bind="NewStaff.SFirstName" id="firstName" placeholder="First Name" required maxlength="20" />
            </div>
            <div class="col-md-6">
                <label for="lastName">Last Name:</label>
                <input class="validate-input" @bind="NewStaff.SLastName" id="lastName" placeholder="Last Name" required maxlength="20" />
            </div>
        </div>

        <div class="mb-3">
            <label for="deptId">Occupation:</label>
            <input class="validate-input" @bind="NewStaff.SPosition" id="position" placeholder="Position" required maxlength="100" />
        </div>

        <!-- Date of Birth and Phone Number -->
        <div class="row mb-3">
            <div class="col-md-6">
                <label for="dob">Date of Birth:</label>
                <input class="validate-input" type="date" @bind="NewStaff.SDateOfBirth" id="dob" required />
            </div>
            <div class="col-md-6">
                <label for="phone">
                    Phone Number: 
                </label>
                <input class="validate-input" type="tel" @bind="NewStaff.SPhoneNumber" @oninput="ValidatePhoneNumber" id="phone" placeholder="2046197621" minlength="10" maxlength="10" required>
                <div class="text-danger">@phoneErrorMessage</div>
            </div>
        </div>


        <!-- Address -->
        <div class="mb-3">
            <label for="address">Address:</label>
            <input class="validate-input" @bind="NewStaff.SAddress" id="address" placeholder="Address" required maxlength="20" />
        </div>

        <!-- City and Province -->
        <!-- City and Province -->
        <div class="row mb-3">
            <div class="col-md-6">
                <label for="city">City:</label>
                <input class="validate-input" @bind="NewStaff.SCity" id="city" placeholder="City" required maxlength="20"/>
            </div>
            <div class="col-md-6">
                <label for="province">Province:</label>
                <select class="validate-input" @bind="NewStaff.SProvince" id="province" required>
                    <option value="">Select Province</option>
                    <option value="AB">Alberta</option>
                    <option value="BC">British Columbia</option>
                    <option value="MB">Manitoba</option>
                    <option value="NB">New Brunswick</option>
                    <option value="NL">Newfoundland and Labrador</option>
                    <option value="NS">Nova Scotia</option>
                    <option value="ON">Ontario</option>
                    <option value="PE">Prince Edward Island</option>
                    <option value="QC">Quebec</option>
                    <option value="SK">Saskatchewan</option>
                    <option value="YT">Yukon</option>
                    <option value="NT">Northwest Territories</option>
                    <option value="NU">Nunavut</option>
                </select>
            </div>
        </div>


        <!-- Email Address -->
        <div class="mb-3">
            <label for="emailAddr">
                Email:
            </label>
            <input class="validate-input" type="email" @bind="NewStaff.SEmailAddr" @oninput="ValidateEmail" id="emailAddr" placeholder="Email Address" required pattern="^[A-Za-z0-9._%-]+@@[A-Za-z0-9.-]+\.[A-Za-z]{2,4}$" />
            <div class="text-danger"> @emailErrorMessage</div>
        </div>

        <div class="mb-3">
            <label for="deptId">Department:</label>
            <select class="validate-input" @bind="NewStaff.DepartmentId" id="deptId" placeholder="Select Department" required>
                @foreach (var dept in Departments)
                {
                    <option value="@dept.DepartmentId">@dept.DepartmentName</option>
                }
            </select>
        </div>

        <button class="nav-button" @onclick="AddStaffToDatabase" disabled="@(!CanSubmit())">Add Staff</button>
    </form>
</div>

@code {
    private DatabaseManagement db = new DatabaseManagement();
    private Staff NewStaff { get; set; } = new Staff() { SDateOfBirth = DateTime.Today };
    private List<Department> Departments = new List<Department>();
    private string emailErrorMessage = "";
    private string phoneErrorMessage = "";

    protected override void OnInitialized()
    {
        Departments = db.GetDepartments();
    }

    private bool CanSubmit()
    {
        string tableName = "Staff";
        bool isEmailUnique = db.IsEmailUnique(NewStaff.SEmailAddr, tableName);
        bool isPhoneUnique = db.IsPhoneNumberUnique(NewStaff.SPhoneNumber, tableName);


        return isEmailUnique &&
            isPhoneUnique &&
            !string.IsNullOrWhiteSpace(NewStaff.SFirstName) &&
            !string.IsNullOrWhiteSpace(NewStaff.SLastName) &&
            !string.IsNullOrWhiteSpace(NewStaff.SPosition) &&
            NewStaff.SDateOfBirth != new DateTime() &&
            NewStaff.SPhoneNumber > 999999999 && NewStaff.SPhoneNumber < 10000000000 &&
            !string.IsNullOrWhiteSpace(NewStaff.SAddress) &&
            !string.IsNullOrWhiteSpace(NewStaff.SCity) &&
            !string.IsNullOrWhiteSpace(NewStaff.SProvince) &&
            !string.IsNullOrWhiteSpace(NewStaff.SEmailAddr) &&
            NewStaff.SFirstName.Length <= 20 &&
            NewStaff.SLastName.Length <= 20 &&
            NewStaff.SAddress.Length <= 100 &&
            NewStaff.SCity.Length <= 20 &&
            NewStaff.SProvince.Length <= 20 &&
            NewStaff.SEmailAddr.Length <= 50 &&
            NewStaff.DepartmentId != 0;
        ;
    }

    private void PhoneNumberChanged(ChangeEventArgs e)
    {
        bool isPhoneUnique = db.IsPhoneNumberUnique(NewStaff.SPhoneNumber, "Staff");
        if (!isPhoneUnique)
            phoneErrorMessage = "This phone number is already in use.";
        else
            phoneErrorMessage = "";
    }

    private void EmailChanged(ChangeEventArgs e)
    {
        bool isEmailUnique = db.IsEmailUnique(NewStaff.SEmailAddr, "Staff");
        if (!isEmailUnique)
            emailErrorMessage = "This email is already in use.";
        else
            emailErrorMessage = "";
    }

    private void ValidatePhoneNumber(ChangeEventArgs e)
    {
        if (string.IsNullOrWhiteSpace(e.Value?.ToString()))
        {
            phoneErrorMessage = "";
            return; // Exit early if the input is empty or null.
        }

        try
        {
            NewStaff.SPhoneNumber = Convert.ToInt64(e.Value);
            bool isPhoneUnique = db.IsPhoneNumberUnique(NewStaff.SPhoneNumber, "Staff");
            if (!isPhoneUnique)
                phoneErrorMessage = "This phone number is already in use.";
            else
                phoneErrorMessage = "";
        }
        catch
        {
            phoneErrorMessage = "Invalid phone number format.";
        }
    }

    private void ValidateEmail(ChangeEventArgs e)
    {
        NewStaff.SEmailAddr = Convert.ToString(e.Value);
        bool isEmailUnique = db.IsEmailUnique(NewStaff.SEmailAddr, "Staff");
        if (!isEmailUnique)
            emailErrorMessage = "This email is already in use.";
        else
            emailErrorMessage = "";
    }

    private void AddStaffToDatabase()
    {
        db.AddStaff(NewStaff);
        NavManager.NavigateTo("/confirmation/Staff");
    }
}
